$font-size-base: 1.2rem;
$primary: rgb(9, 204, 238);



$header-jumbotron-height: 250px;

$section-padding: 120px;
$section-color-alternate: #f7f7f7;

$round-image-border: 5px;


body {
    background-color: #f9fcfd;
}

@import "lib/bootstrap/scss/bootstrap";


/* ------------------------------- Index Seite ---------------------------------------*/

body {
    margin: 0;
    padding: 0;

}

.banner-area {
    width: 100%;
    height: 100vh;
    background: url(images/Fotos/hintergrundBild2.jpg);
    background-position: center center;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
    color: white;

}

.banner-area h2 {
    font-family: poppins;
    text-shadow: 0 0 20px $primary;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 65px;
    margin: 0 0 25px;
    animation: animate 2s 1;
}

.btn {
    text-decoration: none;
    padding: 3px 30px;
    color: white;
    border: 2px solid white;
    transition: 0.6s ease;
    border-radius: 50px;
    font-size: 25px;
    animation: animate 2s 1;


}

.btn:hover {
    background-color: black;
    color: $primary;
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}



/* ------------------------------- Navigation oben ---------------------------------------*/
.page-header {
    background-image: url(images/Hintergrund/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid $primary;
    border-top: 1px solid $primary;
    background-position: 50% 0%;

}

.container-header {
    height: 1000px;
}

#suche-input {
    border-radius: 10px;
    border: 3px solid $primary;

}

.icons {
    color: $primary;
}

a .logo {
    animation: animate 3s 1;
}

.header-jumbotron {
    background-color: transparent;
    color: white;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    height: $header-jumbotron-height;

    @include media-breakpoint-up(sm) {
        height: $header-jumbotron-height + 100px;
    }

    @include media-breakpoint-up(md) {
        height: $header-jumbotron-height + 200px;
    }


    @include media-breakpoint-up(lg) {
        height: $header-jumbotron-height + 350px;
    }
}

h1 {
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-primary {
    background-color: $primary;
    color: black;
    border: 1px solid white;
    box-shadow: 2px 2px 10px white;
    margin-top: 30px;

}

.services {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    .services-icon {
        border: 2px solid $primary;

        text-align: center;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin: 3.2rem auto 1.2rem auto;


        .bild-handarbeit {
            width: 70px;
            height: auto;
            padding: 20px 10px 15px 10px;
        }

        .bild-kundensevice {
            width: 80px;
            height: auto;
            padding: 20px 15px 10px 10px;
        }

        .bild-verpackung {
            width: 80px;
            height: auto;
            padding: 15px 15px 15px 10px;
        }
    }
}

/* ------------------------------- Home Lieblingsprudukte ---------------------------------------*/

.bilder {

    ul,
    li {
        margin: 0.1em;
        padding: 0.1em;
    }

    li {
        display: inline-block;
        list-style-type: none;
        width: 45%;
    }

    img {
        padding: 0;
        margin: 0;
        width: 100%;
        /* Bild passt sich an verfügbaren Raum im li an */
    }

    button {
        padding: 0.1em;
    }

    #galerie {
        margin: 100px 0 150px 360px;
    }

    /* Large screens */

    @media all and (min-width: 35em) {
        li {
            width: 10em;
        }

        button {
            padding: 0.1em;
            width: 10.2em;
            height: 6.8em;
            position: relative;
        }

        button img {
            border: 0;
            position: absolute;
            left: 0%;
            top: 0%;
            z-index: 1;
            box-shadow: 0;
            width: 10em;
            transition: all 1s;
        }

        button:focus img,
        button:hover img {
            border: 2em solid #eee;
            border-radius: 1em;
            position: absolute;
            left: -4%;
            top: -4%;
            width: 300%;
            z-index: 5;
            box-shadow: 1px 1px 5px #333;
            transition: all 1s;
        }
    }
}

/* ------------------------------- Bereich in der mitte ---------------------------------------*/
.portfolio {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $section-color-alternate;
}


.ueber-mich {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
}

.ueber-mich-image {
    border-radius: 50%;
    border: $round-image-border solid $section-color-alternate;

}

@include media-breakpoint-up(md) {
    .ueber-mich-list {
        background: linear-gradient(to right,
                white 0%,
                white calc(50% - 1px),
                $section-color-alternate calc(50% - 1px),
                $section-color-alternate calc(50% + 1px),
                white calc(50% + 1px),
                white 100%);


        .row:last-child {
            background-color: white;
        }
    }
}

.team {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $section-color-alternate;

    .team-image {
        border-radius: 50%;
        border: $round-image-border solid white;
    }
}

.img-area {

    width: 300px;
    height: 300px;

    background-color: #e0e2e4;
    margin: 0 23px;
    border-radius: 50%;
}

.img-area:first-child {
    margin-left: 55px;
}

.img-area:hover img:nth-child(1) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

.img-area:hover img:nth-child(2) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

.img-area:hover img:nth-child(3) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

.img-area img {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: all 1s;
    box-shadow: 0 0 15px rgb(74, 74, 74);

}

h6 {
    margin-top: 25px;


}

.team-social-media {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    display: block;
    text-align: center;
    margin: 0.4rem 0.2rem 0.2rem 0.2rem;

}

.unten-text {
    margin-top: 100px;
    font-weight: bold;
    font-size: 1.3rem;
}

/* ------------------------------- Footer unten ---------------------------------------*/

footer {
    width: 100%;
    height: 400px;
    float: left;
    background: url(images/Hintergrund/bg_footer.png) no-repeat center center;
    background-size: cover;
    border-top: 1px solid #00a6ff;
    border-bottom: 2px solid $primary;
    border-top: 2px solid $primary;



    /* background-color: rgba(44, 44, 44, 0.979); */
}



#footer-menu {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 40px 0 80px 0;

}

#footer-menu span a {
    color: $primary;
    text-decoration: none;
}

#footer-menu a {
    text-decoration: none;
    color: #fff;
}

#footer-menu a:hover {
    color: $primary;

}

#footer-menu span a:hover {
    color: #fff;

}

#footer-menu span {
    display: block;
    margin: 15px 0 0 0;

}

#footer-menu p {
    display: block;
    margin: 15px 0 0 0;

}

footer .wrapper {
    width: 100%;
    margin: 100px 0 0 0;
    text-align: center;
}


footer .wrapper .box {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0px;
    display: inline-table;
    text-align: center;
}

footer .wrapper .box img {
    width: 100%;
    height: auto;



}

footer .wrapper .box img:hover {
    opacity: 0.5;

    /* ------------------------------- Footer unten Kontakt ---------------------------------------*/
}

.kontakt {
    color: white;
    background-color: rgb(30, 30, 30);
}

.form-control:focus {
    border: 3px solid $primary;
}

#inputFrage {
    margin-left: 20px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px white;

}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@include media-breakpoint-up(md) {
    .btn-senden {
        margin-left: 520px;
    }
}

/* ------------------------------- Home Sildeshow für Kundenbewertung ---------------------------------------*/

#slider {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#slides .slide_1 {
    background: #00171F;
}

#slides .slide_2 {
    background: #005b9b;
}

#slides .slide_3 {
    background: #31c0ef;
}

#slides .slide_4 {
    background: #86d7f7;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #444;
}

@media screen and (max-width: 900px) {

    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(4),
    #slide4:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(4),
    #slide4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}